* {
    padding: 0;
    margin: 0;
    color: rgb(214, 214, 214);
    text-shadow: 1px 0 1px rgba(0, 30, 255, 0.5), -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    font-weight: 400;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2d7373;
    font-size: 14px;
}

a {
    text-decoration: none;
}

p {
    color: #333;
}

img.icon {
    width: 40px;
    height: 40px;
}

#wrapper #links {
    text-align: center;
    margin: 0 auto;
    width: 400px;
}

#wrapper #links {
    margin-bottom: 10px;
}

#wrapper #links .item {
    display: inline-block;
    margin: 3px;
    padding: 4px;
    width: 60px;
}

#wrapper #content {
    width: 450px;
    margin: 0 auto;
    box-shadow: 5px 3px 3px rgb(100, 100, 100);
    border-radius: 1px;
}

#wrapper #content .text-block {
    padding: 6px;
    background-color: #c0c0c0;
}

#wrapper #content .title-block {
    padding: 2px;
    background: linear-gradient(90deg, navy, #1084d0);
}

#footer {
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    left: 0;
}