@keyframes flicker {
    0% {
        opacity: 0.27861;
    }
    5% {
        opacity: 0.34769;
    }
    10% {
        opacity: 0.23604;
    }
    15% {
        opacity: 0.40626;
    }
    20% {
        opacity: 0.18128;
    }
    25% {
        opacity: 0.33891;
    }
    30% {
        opacity: 0.45583;
    }
    35% {
        opacity: 0.37807;
    }
    40% {
        opacity: 0.26559;
    }
    45% {
        opacity: 0.84693;
    }
    50% {
        opacity: 0.96019;
    }
    55% {
        opacity: 0.08594;
    }
    60% {
        opacity: 0.20313;
    }
    65% {
        opacity: 0.31988;
    }
    70% {
        opacity: 0.33455;
    }
    75% {
        opacity: 0.27288;
    }
    80% {
        opacity: 0.21428;
    }
    85% {
        opacity: 0.40419;
    }
    90% {
        opacity: 0.3003;
    }
    95% {
        opacity: 0.26108;
    }
    100% {
        opacity: 0.14387;
    }
}

.crt::before {
    animation: flicker 30s infinite;
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
            rgba(18, 16, 16, 0) 50%,
            rgba(0, 0, 0, 0.08) 50%),
    linear-gradient(90deg,
            rgba(255, 0, 0, 0.06),
            rgba(0, 255, 0, 0.02),
            rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 5px, 3px 100%;
    pointer-events: none;
    opacity: 0.8;
}